# ---- Core Flask framework ----
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Migrate
Flask-Bcrypt
Flask-JWT-Extended
Flask-Mail
Flask-SocketIO
python-socketio
eventlet
Werkzeug

# ---- File/image/video handling ----
moviepy
Pillow

# ---- Database / utilities ----
SQLAlchemy
requests
python-dotenv

# ---- WSGI server ----
gunicorn

# ---- Optional: if you need torch ----
 torch 
